:root {
    --main-color: #00ad88;
    --bg-color: #161826;
    --text-secondary-color: #454651;
    --text-main-color: #2d2f46;
    --text-light: #fff;
    --text-gray: #e5e5e5;
    --card-bg: #1d1f30dd;
    --price-bg: #141622;
}

@font-face {
    font-family: "SFPro Display";
    src: url("/fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("/fonts/SFProDisplay-Light.woff2") format("woff2"),
    url("/fonts/SFProDisplay-Regular.woff2") format("woff2");
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    font-family: "SFPro Display", sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

img {
    width: 100%;
}

.text__light {
    color: var(--text-light);
}

.text__turquoise {
    color: var(--main-color);
}

.register__button {
    background-color: transparent;
    padding: 15px 25px;
    color: var(--text-light);
    border-radius: 25px;
    border: 2px solid var(--text-light);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.header .register__button:hover {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: .5s;
}

.register__button:focus {
    background-color: var(--main-color);
}

.register__button:active {
    background-color: var(--main-color);
}

.background__turquoise {
    background-color: var(--main-color);
    border: var(--main-color);
}

.header {
    border-bottom: 2px solid var(--text-secondary-color);
}

.navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.navbar__logo__text {
    text-transform: uppercase;
}

.navbar__logo__text:hover {
    opacity: 60%;
    transition: .5s;
}

.navbar__phone__number {
    padding-right: 40px;
    color: var(--text-light);
}

.navbar__phone__number:hover {
    color: var(--main-color);
    transition: .5s;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

#promo .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#promo .section__content__wrapper {
    padding: 60px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__subtext {
    color: var(--main-color);
    font-size: 31px;
    width: 35%;
}

.section__title {
    color: var(--text-light);
    font-size: 140px;
    margin-top: 30px;
    line-height: 7.6rem;
    background: url("../img/Ellipse-small.svg") center no-repeat;
}

.btn__group {
    display: flex;
    align-items: center;
    padding-top: 45px;
}

#promo .register__button {
    border: 2px solid var(--main-color);
    margin-right: 30px;
}

#promo .register__button:hover {
    background-color: transparent;
    border: 2px solid var(--text-light);
    transition: .5s;
}

#about {
    display: flex;
    align-items: center;
}


#about .section__content__wrapper {
    display: flex;
    align-items: center;
}

#about .text__light {
    font-size: 80px;
    line-height: 4.5rem;
    font-weight: bolder;
    width: 40%;
}

#about .section__subtext {
    border-left: 3px solid var(--main-color);
    padding-left: 30px;
    font-size: 36px;
}

#info {
    background-image: url("../img/Ellipse-bg1.svg"), url("../img/Ellipse-bg2.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -45% 0, 190% 65%;
    min-height: 100vh;
}

.about__list {
    padding-top: 350px;
}

.about__list__item {
    color: var(--text-light);
    font-size: 36px;
    background-color: var(--card-bg);
    border: 1px solid var(--text-main-color);
    border-radius: 30px;
    padding: 35px 100px;
    text-align: center;
    margin: 30px 0;
    box-shadow: 0 5px 5px -5px var(--text-secondary-color);
    cursor: pointer;
    font-weight: normal;
}

.about__list__item:hover {
    box-shadow: 0 5px 15px -5px var(--main-color);
    transition: 1s;
}

#info .business__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#info .text__light {
    font-size: 36px;
    font-weight: normal;
}

#info .company__logo__item a {
    display: block;
}

#info .companies__logo__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 30px 0;
}

#info .companies__logo__list img:hover {
    opacity: 60%;
    transition: 1s;
}

#info .btn__group {
    width: 100%;
}

#info .register__button {
    width: 100%;
    padding: 20px;
    border-radius: 35px;
    border: 2px solid var(--main-color);
}

#info .register__button:hover {
    background-color: transparent;
    border: 2px solid var(--text-light);
    transition: .5s;
}

#business .section__content__wrapper {
    padding: 70px 0;
    height: 520px;
}

#business .section__title {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}

#business .business__man__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#business .business__man__img {
    width: 48%;
    display: flex;
    justify-content: flex-end;
}

#business .business__man__img img {
    width: 70%;
}

#business .business__man__info {
    width: 48%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#business .register__button {
    text-align: center;
    padding: 20px 25px;
    margin-top: 30px;
    border: 2px solid var(--main-color);
}

#business .register__button:hover {
    background: transparent;
    border: 2px solid var(--text-light);
    transition: .5s;
}

#business .text__light {
    font-size: 26px;
}


#program {
    background-image: url("../img/Ellipse-bg2.svg"), url("../img/Ellipse-bg2.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 60%, 40%;
    background-position: 180% 30%, -20% 95%;
}

#program .section__content__wrapper {
    padding: 70px 0;
    height: 520px;
}

#program .section__title {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#program .accordion__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion__item:focus {
    border: 1px soli var(--main-color);
}

#program .accordion__title__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#program .accordion__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: transparent;
    outline: none;
    border: 1px solid var(--text-secondary-color);
    border-radius: 50%;
    cursor: pointer;
}

#program .accordion__title__wrapper img {
    width: 20px;
    height: 20px;
}

#program .accordion__title {
    font-size: 36px;
}

#program .accordion__content__body {
    color: var(--text-light);
    max-height: 0;
    overflow: hidden;
    opacity: 50%;
    font-weight: normal;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

#program .accordion__content__item {
    margin: 5px 0;
}

#program .program__day {
    font-size: 36px;
    font-weight: bold;
}

.accordion {
    width: 85%;
}
.accordion-item {
    background-color: var(--card-bg);
    color: var(--text-light);
    margin: 10px;
    border-radius: 2rem;
    border: 2px solid var(--text-secondary-color);
    padding: 1rem 2rem;
}

.accordion-item:active {
    border: 2px solid var(--main-color);
}

.accordion-item:focus {
    border: 2px solid var(--main-color);
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.accordion-item-header::after {
    content: "";
    background-image: url("../img/arrow1.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--text-secondary-color);
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    transition: .5s;
}
.accordion-item-header.active::after {
    content: "";
    background-image: url("../img/arrow.svg");
    transform: rotate(90deg);
    border: 2px solid var(--main-color);
    transition: .5s;
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
    padding: 1rem 3rem;
    line-height: 1.5rem;
    opacity: 60%;
}

#program .additional__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#program .additional__themes {
    padding-top: 30px;
}

#program .about__list__item {
    width: 85%;
    margin: 10px 0;
    font-size: 36px;
    padding: 1rem 4rem;
    text-align: start;
}

#program .about__wrapper {
    padding-top: 3rem;
}

#program .about__wrapper .section__title {
    background: none;
    font-size: 80px;
    padding: 0 200px;
    line-height: 5rem;
    font-weight: bolder;
}

#program .register__button {
    margin: 50px 0;
    padding: 20px 10px;
    border-radius: 40px;
    border: 2px solid var(--main-color);
    width: 100%;
}

#program .register__button:hover {
    background: transparent;
    border: 2px solid var(--text-light);
    transition: .5s;
}

#categories .section__content__wrapper {
    height: 300px;
}

#categories .section__title {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 200px;
    background-size: 50%;
}

#categories .price__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#categories .price__list {
    width: 31%;
}

#categories .price__list .price__header {
    background-color: var(--text-main-color);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

}

#categories .price__list .price__header h5 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

#categories .price__list .price__header .silver:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--text-light);
    border-radius: 50%;
}

#categories .price__list .price__header .gold:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--text-light);
    border-radius: 50%;
}

#categories .price__list .price__header .platinum:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--text-light);
    border-radius: 50%;
}

#categories .price__list .price__body {
    background-color: var(--price-bg);
    padding: 20px 50px;
}

#categories .price__list__item {
    font-weight: normal;
    color: var(--text-light);
    margin: 20px 0;
    display: flex;
}

#categories .price__list__wrapper .text__light:before {
    content: url("../img/check.svg");
    display: inline;
    padding-right: 10px;
}

#categories .price__list .text__muted {
    color: var(--text-secondary-color);
}

#categories .price__list__wrapper .text__muted:before {
    content: url("../img/close.svg");
    display: inline;
    padding-right: 10px;
}

#categories .price__categories {
    text-align: center;
    padding: 10px 0;
}

#categories .price__categories .text__light {
    font-size: 34px;
    font-weight: normal;
}

#categories .price__list__footer .register__button {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 0 0 20px 20px;
}

#categories .price__list__footer .register__button:hover {
    background: var(--main-color);
    transition: .5s;
}

#partners .section__content__wrapper, #faq .section__content__wrapper {
    height: 400px;
    margin-top: 100px;
}

#partners .section__title, #faq .section__title {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 100px;
    background-size: 80%;
}

#partners .brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

#partners .brands__list {
    width: 30%;
    font-size: 32px;
}

#partners .brands__list .brands__list__item {
    margin: 20px 0;
}

#partners .brands__list__item .text__light:hover {
    color: var(--main-color);
    transition: color.5s;
}

#faq .accordion {
    width: 100%;
}

#faq .accordion-item {
    background-color: transparent;
    margin: 0;
    padding: 20px 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--text-secondary-color);
}

#faq .accordion-item-header {
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
    min-height: 0;
}

#faq .accordion-item-header::after {
    background-image: url("../img/arrow.svg");
    border: none;
}

#faq .accordion-item-header:active {
    color: var(--main-color);
}

#faq .accordion-item-header:focus {
    color: var(--main-color);
}

#faq .accordion-item-header span {
    padding-right: 40px;
    font-weight: bolder;
    align-self: start;
}

#faq .accordion-item .text__muted {
    padding-left: 30px;
}

#faq .faq__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 100px;
}

#faq .faq__footer .text__muted {
    font-size: 32px;
    color: var(--text-secondary-color);
    width: 40%;
}

#faq .faq__button {
    font-size: 22px;
    color: var(--text-light);
    margin-left: 75px;
    height: 150px;
    align-items: center;
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

#faq .faq__button:before {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    border: 1px solid var(--main-color);
}

#form {
    background-color: #00ad88;
    position: relative;
}

#form .content__wrapper {
    display: flex;
    align-items: center;
}

#form .form__wrapper {
    display: flex;
    width: 50%;
}

#form .form__wrapper h4 {
    font-size: 80px;
    padding-bottom: 40px;
}

#form .input__area {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#form .input__area span {
    opacity: 40%;
}

#form .input__place {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-light);
    background: transparent;
    font-size: 24px;
    color: var(--text-light);
    padding: 5px 0;
}


#form .image__wrapper {
    width: 50%;
}

#form .image__wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#form textarea {
    min-height: 150px;
}

#form textarea::placeholder {
    font-size: 18px;
    color: var(--text-light);
    opacity: 40%;
    font-weight: normal;
}

#form .register__button {
    border: 2px solid var(--text-light);
    margin-top: 20px;
    padding: 15px 35px;
}

#form .register__button:hover {
    background: var(--main-color);
    transition: .5s;
}